#!/bin/bash
set -euo pipefail

{{ template "script_header.sh" . }}
{{ template "aqua_install.sh" . }}

log_info "CLI Tools | Performing aqua prerequisites setup..."

cd {{ .chezmoi.sourceDir }}/dot_config/aquaproj-aqua
aqua_install baseline,optional
echo "-------------------------------------------------------------------------------------------"
echo
