#!/bin/bash
set -euo pipefail

{{ template "script_header.sh" . }}
{{ template "aqua_install.sh" . }}

log_info "CLI Tools | Performing aqua standard setup..."
aqua_install prerequisites
echo "-------------------------------------------------------------------------------------------"
echo
