#!/bin/bash
set -eo pipefail

{{ template "script_header.sh" . }}
{{ template "aqua_install.sh" . }}

log_info "CLI Tools | Performing aqua standard setup..."
if [[ ! -e "$AQUA_GLOBAL_CONFIG" ]]; then
  log_error "CLI Tools | Tags[baseline] | Global aqua configuration does not exist, cannot proceed!"
  exit 1
fi
if [[ ! -z "$AQUA_POLICY_CONFIG" && -e "$AQUA_POLICY_CONFIG" ]]; then
  log_info "CLI Tools | Tags[baseline] | Allowing aqua policy file: $AQUA_POLICY_CONFIG..."
  aqua policy allow $AQUA_POLICY_CONFIG
fi
aqua_install optional
echo "-------------------------------------------------------------------------------------------"
echo
