#!/bin/bash
set -euo pipefail

{{ template "script_header.sh" . }}
{{ template "aqua_install.sh" . }}

cp {{ .chezmoi.sourceDir }}/aqua-first.yaml /tmp/aqua.yaml
cd /tmp
aqua_install
rm /tmp/aqua.yaml
echo "-------------------------------------------------------------------------------------------"
echo
