# dot_gitconfig.tmpl
[user]
    {{- if hasKey . "name" }}
    name = {{ .name }}
    {{- else }}
    name = {{ promptString "Enter your Git name" }}
    {{- end }}
    {{- if hasKey . "email" }}
    email = {{ .email }}
    {{- else }}
    email = {{ promptString "Enter your Git email" }}
    {{- end }}

[core]
    {{- if hasKey . "editor" }}
    editor = {{ .editor }}
    {{- else if env "EDITOR" }}
    editor = {{ env "EDITOR" }}
    {{- else }}
    editor = vim
    {{- end }}
    excludesfile = ~/.gitignore
    autocrlf = input

[color]
    ui = auto

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    unstage = reset HEAD --

[pull]
    rebase = true

[init]
    defaultBranch = main

[push]
    default = simple
