#!/bin/bash
set -euo pipefail

{{ template "script_header.sh" . }}

{{ if eq .chezmoi.os "darwin" -}}
log_info "Installing Homebrew packages..."
brew bundle --file={{ .chezmoi.sourceDir }}/Brewfile
log_info "Homebrew packages installed successfully!"
{{ else -}}
log_info "Skipping Homebrew packages on non-macOS system."
{{ end -}}
