#!/bin/bash
set -euo pipefail

{{ template "script_header.sh" . }}
source_env_file ~/.env

init_aqua() {
  echo "Initializing aqua..."
  if ! command -v aqua > /dev/null; then
    echo "Aqua binary is not in path, cannot proceed!"
    exit 1
  fi
  if [[ ! -e "$AQUA_GLOBAL_CONFIG" ]]; then
    echo "Global aqua configuration does not exist, cannot proceed!"
    exit 1
  fi
  if [[ -e "$AQUA_POLICY_CONFIG" ]]; then
    echo "Allowing aqua policy file: $AQUA_POLICY_CONFIG..."
    aqua policy allow $AQUA_POLICY_CONFIG
  fi
  echo "Installing or updating packages with global aqua configuration..."
  aqua install --all 2>&1 | sed -E 's|^(.*)|    \1|g'
  echo "Available packages..."
  aqua list --installed --all | column -t 2>&1 | sed -E 's|^(.*)|    \1|g'
  echo "Done!"
}

init_aqua
echo "-------------------------------------------------------------------------------------------"
